body {
	/*font-family: 'Georgia', Helvetica, sans-serif;
  	font-size: 2rem;*/
  	line-height: 1rem;
  	text-align: center;
}

h1 {
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 3rem;
}

.input-group {
	width: 100%;
	padding-right: 25%;
	padding-left: 25%;
}

form {
	padding-bottom: 2rem;
}

